* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    border: solid 3px silver;
    border-radius: 10px;
    margin-top: 20px;
}

.card-header {
    background-color: #F7F7F7;
    padding: 20px;
    width: 720px;
   
}


.form-control{
    padding: 6px 12px;
    width: 300px;
}

.btn{
    margin: 20px;
    background-color: #DC3545;
    color: white;
    padding: 6px 12px;
    width: 120px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    
}

.btn:hover {
    background-color: silver;
    color: #DC3545;
    font-weight: bold;
}

.card-body{
    padding: 20px;
}

.card-title{
    margin: 12px 0;
}

.list-group{
    margin: 20px 0;
}

.btn-dark{
    background-color: black;
    text-decoration: none;
   
}
hr{
    margin: 30px;
    color: silver;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    list-style: none;
    border: solid 1px silver;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
}

#dlt {
    color: red;
}

#dlt:hover{
    color: mediumslateblue;
}
